html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E141B;
  color: #b9b9b9;
}

body {
   background: linear-gradient(90deg,#001820,#0E141B,#00070E);
     animation: gradient 5s ease infinite; 
      background-size: 400% 400%;
  
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
h1{
  background: -webkit-linear-gradient(#256D85,#00ADB5);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
*/

.tagline{
  color: #256D85;
}
.bigName, .textHighlight, h1, h2{
  color: #00ADB5;
}

.textHighlight{
  line-height: normal;
  padding-top: 5px;
}

.skillbox
{
  background-color: rgba(37,109,133,0.14);
  border-radius: 8px;
  border-width: 0;
  color: #00ADB5;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 3px;
  padding: 7px 10px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.expButtons{
  background-color: rgba(37,109,133,0.14);
  border-radius: 8px;
  border-width: 0;
  color: #b9b9b9;
  text-align: left;
  padding: 1% 2%;
}

#osintern{
  display: none;
}

hr.hr-1 {
  border: 0;
  height: 1.5px;
  background-image: linear-gradient(to right, rgba(37,109,133,0), rgba(0, 172, 181, 0.879), rgba(37,109,133,0));
  margin: 0;
  margin-top: 7%;
  margin-bottom: 7%;
}

.section-heading{
  padding: 0;
  padding-bottom: 3%;
}

.nav{
  opacity: 0.9; 
}

#root{
  background: url("./assets/img/hero2-big.png") no-repeat center center;
	background-size: contain;
	background-position: top;
  opacity: 0.9;
}

#controlled-tab-example{
  color: #00ADB5;
}

.social-menu ul{
  position: fixed;
  top: 77%;
  left: 95%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
}

.social-menu ul li, .email a{
  list-style: none;
  margin: 0 15px;
}

.email a,
.sociallinks a{
  text-decoration: none;
  color: #00ADB5;;
}

.card-title{
  text-decoration: none;
  color: #00ADB5;
  padding: 1% 0;
}

.sociallinks a:hover,
.email a:hover{
  color: white;
}

.footer{
  color: #b9b9b9;
  margin: 0%;

}
.page-footer{
  position: absolute;
  top: 100%;
}

.social-menu ul li .fab{
  font-size: 22px;
  line-height: 40px;
  transition: .3s;
  color: #fff;
}

.social-menu ul li .fab:hover{
  color: #fff;
}

.hero-content{
 padding-top: 5%;
 margin-top: 5%;
}

.social-menu ul li a{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(37,109,133,0.3);
  text-align: center;
  transition: .6s;
  box-shadow: 0 2px 4px #000000
}

.social-menu ul li a:hover{
  transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
  background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
  background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
  background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
  background-color: #1D9BF0;
}

.aboutdesc, .aboutpic{
  width: 50%;
  display: block;
}

.pfp{
  padding: 0 10%;
  width: 70%;
}

.skill-container{
  width: 75%;
  margin: auto;
  padding: 0%;
}

.skillmeter{
  display: block;
  padding-bottom: 5%;
}

.skillmeter img,h6{
  width: 50%;
  margin: auto;
  text-align: center;
}

#card1{
  background-image: url('./assets/img/gdg-iwd2023.png');
  background-repeat: no-repeat;
  background-size:inherit;
}
#card2{
  background-image: url('./assets/img/reactjs.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
#card3{
  background-image: url('./assets/img/frame3.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.containers{
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 40px 0;
}

.card-body{
  padding: 4%;
}

.proj-link{
  color: white;
  padding: 3% 5%;
  border-radius: 50px;
  position: absolute;
  top: 73%;
  left: 75%;
}


.containers .card,.cards{
  color: white;
	position: relative;
	width: 300px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	margin: 2%;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(40px);
}

.containers .card .content{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.containers .card:hover .content {
	transform: translateY(-110px);
}

.containers .card .content .eventTitle{
	position: relative;
	width: 80%;
	height: 100%;
	overflow: hidden;
}
.containers .card .sci {
	position: absolute;
	bottom: 50px;
}

.containers .card .sci li {
	transform: translateY(50px);
  text-align: left;
	transition: 0.5s;
	opacity: 0;
}

.containers .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
  font-size: 16px;
}


.cards {
  background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  width: 300px;
	height: 250px;
}


/*RESPONSIVE*/
@media screen and (min-width: 992px) {
  #root{
    background: url("./assets/img/hero1-big.png") no-repeat center center;
    background-size: contain;
    background-position: top;
    opacity: 0.9;
  }
  .cards {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 280px;
    height: 220px;
  }
  .card-body{
    padding: 2%;
  }
  .card-title{
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  #root{
    background: url("./assets/img/hero2-big.png") no-repeat center center;
    background-size: contain;
    background-position: top;
    opacity: 0.9;
  }
  /*.ExpDesc{
    padding: 3% 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
  } */
  .cards {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 280px;
    height: 220px;
  }
  .card-body{
    padding: 2%;
  }
  .card-title{
    padding: 0;
  }
}

/* tablets*/
@media only screen and (max-width: 768px) {
  #root{
    background: url("./assets/img/hero-med.png") no-repeat center center;
    background-size: contain;
    background-position: top;
    opacity: 0.9;
  }
  .about-section{
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutdesc, .aboutpic{
    flex-direction: row;
    width: 85%;
    text-align: center;
  }
  .pfp{
    margin-bottom: 5%;
    width: 50%;
    display: block;
    padding: 3% 0% ;
  }

  .social-menu ul{
    top: 85%;
    left: 95%;
  }
  .section-heading{
    padding: 0;
    padding-bottom: 5%;
    text-align: center;
    
  }

  .hero-content{
    padding-top: 15%;
    margin-top: 15%;
   }

  hr.hr-1 {
    height: 2px;
    margin: 20% 0%;
  }
  .ExpDesc{
    padding: 3% 0;
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .cards {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 220px;
  }
  .card-body{
    padding: 2%;
  }
  .card-title{
    padding: 0;
  }
}

/*mobile phone*/
@media only screen and (max-width: 480px) {
  #root{
    background: url("./assets/img/hero1-big.png") no-repeat center center;
    background-size: cover;
    background-position: top;
    opacity: 0.9;
  }

  .about-section{
    flex-direction: column-reverse;
    align-items: center;
  }

  .aboutdesc, .aboutpic{
    flex-direction: row;
    width: 85%;
    text-align: center;
  }
  .pfp{
    margin-bottom: 5%;
    width: 50%;
    display: block;
    padding: 5% 0% ;
  }

  .social-menu ul{
    top: 80%;
    left: 90%;
  }
  .section-heading{
    padding: 0;
    padding-bottom: 3%;
    text-align: center;
  }

  .hero-content{
    padding-top: 25%;
    margin-top: 25%;
   }
  
  hr.hr-1 {
    height: 2px;
    margin: 30% 0%;
  }
  .ExpDesc{
    padding: 10% 0;
    margin-top: 10%;
    border: 0;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .proj-container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 40px 0;
  }
  .cards {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 210px;
  }
  .card-body{
    padding: 2%;
  }
  .card-title{
    padding: 0;
  }
}
